body {
  margin: 0;
  padding: 0;
  color: #666;
  background-color: #888;
   background: linear-gradient(to left, #028462 , #828402); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */       
 
}


.logo {
  font-family: Oswald;
  color: white;
}

#intro-text {
  width: 610px;
  text-align: center;
  max-width: 675px;
  font-size: 20px;
  margin-left: 200px;
  font-family: Lobster;
  color: black;
  margin-right: 50px;
  margin-top: 130px;
  background: black;
}

.main-img {
  border-radius: 50%;
  margin: 30px 0 10px;
  max-width: 80%;
  height: auto;
  width: 250px;
  align: center;
}
#portawesome {
  display: block;
  box-sizing: border-box;
  color: white;
  padding: 40px;
  text-align: center;
  height: auto;
  font-weight: bold;
  font-size: 30px; 
  text-decoration: underline;
  font-family: Oswald;
}
.grid {
  max-width: 90%;
  margin-top:20px;
}
.portfolio-images {
  max-width: 500px;
  max-height: auto;
  float: right;
  
  padding: 20px;
}
.special-image {
  max-width : 300px;
  max-height : 350px;
}
.portawesome {
  display: block;
  box-sizing: border-box;
  color: black;
  padding: 40px;
  text-align: center;
  height: auto;
  font-weight: bold;
  font-size: 30px; 
  text-decoration: underline;
  font-family: Oswald;
}
.contact-text {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 25px;
  font-family: Lobster;
    
}
.end-footer {
  text-align: center;
  
}

#contactbox {
  background-color: white;
  margin: auto ;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 30px;
}

